{% extends "base.html" %} {% block content%}

<h1>Add a Student</h1> {% if error_msg %}
<label class="error">{{error_msg}}</label><br>{% endif %}
<form action="/add_student" method="post">
  First Name: <br>
  <input type="text" name="first_name" /><br> Last Name: <br>
  <input type='text' name='last_name' /><br> Phone number: <br>
  <input type='text' name='phone' /><br> Notes: <br>
  <textarea name="notes" rows="10" columns="30"></textarea><br>

  <input type="submit" class="btn btn-outline-secondary" value="submit" />

</form>

{% endblock %}