<!--
This will be a form with just one field of 'course_name' that will be 
sent as a POST request to /add_roster route handler.-->
{% extends "base.html" %} {% block content%}

<h1>Add a Roster</h1>

<form action="/add_roster" method="post">
    <label>Course Name:</label>
    <div class=" px-0  col-10 col-md-3">
        <input class="form-control" type="text" name="course_name" />
    </div>
    <label class="error">{{name_error}}</label>

    <input type="submit" class="btn btn-outline-secondary" value="submit" />

</form>

{% endblock %}
