{% extends "base.html" %} {% block content%}

<h1>Add a Student</h1> {% if error_msg %}
<label class="error">{{error_msg}}</label><br>{% endif %}
<form action="/add_student" method="post">
    <label>First Name:</label>
    <div class=" px-0  col-10 col-md-3">
        <input class="form-control" type="text" name="first_name" />
    </div>
    <label> Last Name: </label>
    <div class=" px-0  col-10 col-md-3">
        <input class="form-control" type='text' name='last_name' />
    </div>
    <label>Phone number: </label>
    <div class=" px-0  col-10 col-md-3">
        <input class="form-control" type='text' name='phone' />
    </div>
    <label> Notes:</label>
    <div class=" px-0  col-10 col-md-3">
        <textarea name="notes" rows="10" columns="30" style="resize:auto"></textarea><br>
    </div>
    
    <table class="table table-striped attendance-table table-responsive">
        <thead class="thead-light">
          <tr>
            <th>Roster</th>
            <th>Add to roster?</th>
          </tr>
        </thead>
        <tbody>
          {% for roster in rosters %}
          <tr>
            <div class="form-check form-check-inline">
              <td class="td-add-space"><a href='/single_roster?roster_id={{roster.id}}'>{{roster.course_name}}</a></td>
            </div>
            <td class="align-middle">
              <div class="form-check form-check-inline">
                <input type='checkbox' name='rosters' value='{{roster.id}}'/>
              </div>
            </td>            
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="submit" class="btn btn-outline-secondary" value="submit" />
</form>

{% endblock %}
