{% extends "base.html" %} {% block content%}

<h1>Add Students to {{ roster.course_name }}</h1>

<form action="/add_student_to_roster?roster_id={{roster.id}}" method="post">

  {% if students %}
  <h2>All students:</h2> {% for student in students %}
  <input type="checkbox" name="student_id" value="{{ student.id }}">
  <a href='/student_profile?student_id={{student.id}}'>
        <label>{{ student.last_name + ', ' + student.first_name }}</label><br>
      </a> {% endfor %}

  <br><input class="btn btn-outline-secondary" type="submit" value="Add students to roster" />

</form>
{% else %}
<p>No students have been added yet, click <a href='/add_student'>here</a> to add a new student</p>
{% endif %} {% endblock %}