<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>

<body>
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Attendence App</a>
      </div>
      <ul class="nav navbar-nav">

        <! <li><a href="/list_rosters">Rosters</a></li>
        <li><a href="/list_students">Students</a></li>
        <li><a href="/add_roster">Create a Roster</a></li>
        <li><a href="/add_student">Create a Student</a></li>
        <li><a href="/add_student_to_roster">Add Students to Roster</a></li>
      </ul>
    </div>
  </nav> -->

  {% block content %} {% endblock %}

</body>

</html>
