{% extends "base.html" %} {% block content %}

<h1>Update Student</h1>

<form action="/update_student?student_id={{student.id}}" method="post">
  First Name: <br>
  <input type="text" name="first_name" value="{{student.first_name}}"/><br> 
  Last Name: <br>
  <input type='text' name='last_name' value="{{student.last_name}}"/><br>
  <label class="error">{{name_error}}</label>
  Phone Number: <br>
  <input type='text' name='phone' value='{{student.phone}}' /><br>
  Notes: <br>
  <input type='text' name="notes" value='{{student.notes}}' /><br>

  <input type="submit" value="submit" />

</form>

{% endblock %}
