{% extends "base.html" %} {% block content %} {% if roster %}
<h1>{{ roster.course_name }}:</h1> {% endif %} {% if errorMSG %}
<h3>{{errorMSG}}</h3>
<p><a href='/add_student_to_roster?roster_id={{roster.id}}' class="btn btn-outline-info">Add students to this roster</a></p>
{% else %}
<table class="table table-striped">
    <div class="row">
        <thead class="thead-light">
            <th scope="col">Student</th>
            <th scope="col">Phone</th>
            <th scope="col">Notes</th>
        </thead>
        <tbody>
            {% for student in roster.students %}
            <tr>
                <td>
                    <a href='/student_profile?student_id={{student.id}}'>{{student.name}}</a>
                </td>
                <td class=' '><a href='tel://{{student.phone}}'>{{student.phone}}</a></td>
                <td id='notes' class=''>{{student.notes}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </div>
</table>
<a class="btn btn-outline-info" href="/add_student_to_roster?roster_id={{roster.id}}">Add students to this roster</a>

<h2>Sessions:</h2>
<table class="table table-striped">
    <thead class="thead-light">
        <th>Name</th>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
    </thead>
    {% for session in roster.sessions %}
    <tr>
        <td><a href='/single_session?session_id={{session.id}}'>{{session.name}}</a></td>
        <td>{{session.date.strftime('%m/%d/%Y') }}</td>
        <td>{{session.start}}</td>
        <td>{{session.end}}</td>
    </tr>
    {% endfor %}
</table>

<a class="btn btn-outline-info" href="/add_session?roster_id={{roster.id}}">Add session</a>
<p>
    <a href="/list_rosters" class="btn btn-outline-info">Back to rosters</a> </p>
{% endif %}{% endblock %}
