{% extends "base.html" %} {% block content %} 

<h1>Session {{session.name}}:</h1> 
<form action="/update_attendences" method="post">
  <input type="hidden" name="session_id" value={{session.id}}>
  <table>
    <tr>
      <th>Student</th>
      <th>Checkin</th>
      <th>Checkout</th>
    </tr>
    {% for attendence in session.attendences %}
      <tr>
        <td><a href='/student_profile?student_id={{attendence.student.id}}'>{{attendence.student.name}}</a></td>
        <td>
          <label>
            <input type="checkbox" id="checkin-{{attendence.id}}" name="checkin" value="{{attendence.id}}" {% if attendence.checkin_time %}checked{% endif %}>
            {{ attendence.checkin_time }}
          </label>
        </td>
        <td>
          <label>
            <input type="checkbox" id="checkout-{{attendence.id}}" name="checkout" value="{{attendence.id}}" {% if attendence.checkout_time %}checked{% endif %} {% if not attendence.checkin_time %}disabled="disabled"{% endif %}>
            {{ attendence.checkout_time }}
          </label>
        </td>
      </tr>
    {% endfor %}    
  </table>
  <input type="submit" class="btn btn-outline-secondary" value="submit" />
</form>
{% endblock %}