{% extends "base.html" %} {% block content %} {% if errorMSG%}
<h1>{{errorMSG}}</h1> {% else %}
<div class='col-md-6 center'>
  <h1 class='mb-3'>{{student.last_name + ', ' + student.first_name}}</h1> <label for='phone' class='text-info'>Phone number:</label>
  <p class='pb-5 pl-1 rounded border  border-info'><a href='tel://{{student.phone}}'>{{student.phone}}</a></p>
  <label for='notes' class='text-info'>Notes:</label>
  <p id='notes' class='pb-5 pl-1 rounded border  border-page'>{{student.notes}}</p>
  <a href='/update_student?student_id={{student.id}}'>
    <p>edit</p>
  </a>
</div>

<h1>Attendance</h1>
<table>
  <tr>
    <th>Roster</th>
    <th>Session</th>
    <th>Date</th>
    <th>Present</th>
    <th>Check-in</th>
    <th>Check-out</th>
  </tr>

  {% for attendence in student.attendences %}
  <tr>
    <td><a href='/single_roster?roster_id={{attendence.session.roster.id}}'>{{attendence.session.roster.course_name}}</a></td>
    <td><a href='/single_session?session_id={{attendence.session.id}}'>{{attendence.session.name}}</a></td>
    <td>{{attendence.session.date.strftime('%m/%d/%Y')}}</td>
    <td>{% if attendence.checkin_time %}Yes{% else %}No{% endif %}</td>
    <td>{{attendence.checkin_time.strftime('%-I:%M %p')}}</td>
    <td>{{attendence.checkout_time.strftime('%-I:%M %p')}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %} {% endblock %}