{% extends "base.html" %} {% block content%}

<h1>User Guide</h1>

<h4>  Welcome to Attendance App! Here’s how to get started:</h4>

<div><br />
  <p>1) Create a user account.</p>
  <p>2) Once you're logged in, click on the "Rosters" tab to create a roster for each class you teach.</p>
  <p>3) Click on the "Create a Student" tab to set up your students’ individual profiles with their names, phone numbers, and any important notes about them (such as allergies). Here you also have the option to add them to one or more class rosters.</p>
  <p>4) Under the "Rosters" tab, click on any roster to add one or more students at a time.</p>
  <p>5) Also under the "Rosters" tab, create a session each time a class meets by inputting the date, start and end times.</p>
  <p>6) Click on a session to mark students’ attendance for that class! Mark the "Check-in" box  (or "Absent") when students arrive for class, and come back to the page to update the "Check-out" time when students are leaving for the day.</p>
</div>

<div><br />
  <h6>FAQ</h6>
  <ul>
    <li><strong>I want to view a student's entire attendance record.</strong></li>
    <p>Just click on their name in your student list to view their profile.</p>
    <li><strong>I need to update a student's name/phone/notes.</strong></li>
    <p>No problem - just open up their profile and click on the "edit" link below the notes field.</p>
    <li><strong>I accidentally added a student to the wrong class!</strong></li>
    <p>We can undo that! After you click the "edit" button in a student's profile, you'll be able to change the checkboxes in the "Rosters" section. This will take them out of a class and add them to a different one.</p>
  </ul>
</div>


{% endblock %}
