{% extends "base.html" %} {% block content%}

<h1>User Guide</h1>

<h4>  Welcome to Attendance App! Here’s how to get started:</h4>

<div><br />
  <p>1) Create a user account.</p>
  <p>2) Once you're logged in, click on the "Rosters" tab to create a roster for each class you teach.</p>
  <p>3) Click on the "Create a Student" tab to set up your students’ individual profiles with their names, phone numbers, and any important notes about them (such as allergies).</p>
  <p>4) Under the "Rosters" tab, click on any roster to add your students for that class.</p>
  <p>5) Also under the "Rosters" tab, create a session each time a class meets by inputting the date, start and end times.</p>
  <p>6) Mark students’ attendance for that class!</p>
</div>

<div><br />
  <h6>Other Tips</h6>
  <ul>
    <li>Need to view a student's entire attendance record? Just click on their name in your student list to view their profile.</li>
    <li>A student's profile can be edited! Just open it up and click on the "edit" link below the notes field.</li>
  </ul>
</div>


{% endblock %}
